
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <title>Table</title>
</head>
<style>
    
</style>
<body>
 
    
    <h4>Rental Table</h4>
    
  
    {% for rent in rental %}
    <hr>
    <p>{{rent.name}}</p>
    
    {%for query in queryset %}

    {% if query.rental__name == rent.name %}
   <p>RES {{query.id}} ({{query.checkin}},{{query.checkout}})</p> 
   {% endif %}
 
   {% empty %} 
   <p>No reservation</p>
  
   {% endfor %}
     
   {% endfor %}

   <h4>Reservation Table</h4>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Rental_name</th>
            <th>ID</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Previous Reservation</th>
        </tr>
        </thead>
        <tbody>

           
        {% for reservation in queryset %}
        
        <tr>
            
            <td>{{reservation.rental__name}}</td>
            <td>Res-{{reservation.id}} ID</td>
            <td>{{reservation.checkin}}</td>
            <td>{{reservation.checkout}}</td>
            <td>{{reservation.previous_reservation}}</td>

          
        </tr>
       
   
       
       {% endfor %}
        <tbody>
    </table>
</div>
</body>
</html>